<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= link_to('Mypage', mypage_path) %>
      <% else %>
        <%= link_to('Log in', login_path) %>
      <% end %>

      <%= link_to('users', users_path) %>
    </header>
    <hr>

    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
